#mainEmps tr {
  cursor: pointer;
}

*:disabled input,
*:disabled select,
*:disabled button {
  color: #6c757d !important;
  background: #e9ecef !important;
  border-color: dee2e6 !important;
  opacity: 1 !important;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #56829e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  th.col-3,
  td.col-3 {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  th.col-4,
  td.col-4 {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  th.col-5,
  td.col-5 {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  th.col-6,
  td.col-6 {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
