.btn-new {
    width: 130px;
}

@media (max-width: 768px) {
    .new-div {
        justify-content: center !important;
    }

    .btn-new {
        width: 100% !important;
    }
}

table {
    width: 100%;
}

tr {
    cursor: pointer;
}

.btn-tbl {
    border-color: #ced4da !important;
}

.toast-container {
    z-index: 9999;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #c1d4d9;
    border-radius: 50%;
    animation: loading 0.8s cubic-bezier(0.8, 0.6, 0.4, 0.8) infinite;
    transform-origin: bottom center;
    position: relative;
}

@keyframes loading {
    0% {
        transform: translateY(0px);
        background-color: #c1d4d9;
    }
    50% {
        transform: translateY(50px);
        background-color: #58788c;
    }
    100% {
        transform: translateY(0px);
        background-color: #c1d4d9;
    }
}

.circle-2 {
    animation-delay: 0.1s;
}

.circle-3 {
    animation-delay: 0.2s;
}

.circle-4 {
    animation-delay: 0.3s;
}
